.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CSS */
.wrapper__content {
  width: 480px;
  min-height: 680px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(23, 27, 39, .5);
  border-radius: 20px;
  position: relative;
}

.wrapper__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goBack {
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px;
  text-align: center;
}

.goBack__icons {
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: inherit;
  color: #fff;
  background: none;
  border: none;
}

.goBack__icons:hover {
  background: rgba(253, 253, 253, 0.177);
  border-radius: 15px;
  transition: background .3s;
}


/* Search */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search input {
  padding: 10px;
  width: 90%;
  background: #3d4148;
  margin-bottom: 20px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 15px;
  font-family: inherit;
}

.search_info {
  align-items: center;
  font-size: 1rem;
}

.search_info a {
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  font-size: 1.4rem;
}

.search_placeholder {
  text-align: center;
}

.search_blog {
  width: 100px;
  height: 100px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_blog:hover {
  background: rgba(255, 255, 255, 0.101);
  border-radius: 20px;
}



/* Main Title */

.wrapper__title {
  color: aliceblue;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 20px;
}

.changing__language {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  text-align: center;
}

.changing__language button {
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: inherit;
  color: #fff;
  background: none;
  border: none;
}

.changing__language button:hover {
  background: rgba(253, 253, 253, 0.177);
  border-radius: 15px;
  transition: background .3s;
}


/* Main card with information about temp now and img weather */
.card__temp {
  width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #cbddff4b;
  margin-bottom: 20px;

  backdrop-filter: blur(20px);
}

.card__temp img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.card__inform {
  color: aliceblue;
  font-size: 4rem;
}

.card__suptitle {
  margin-top: 20px;
  margin-bottom: 0;
}

.card__title {
  text-transform: uppercase;
  font-size: 1rem;
}


/* Information */
.information {
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #3d4148;
  border-radius: 20px;
  color: aliceblue;
}

.information_blog {
  width: 100px;
  height: 100px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information_blog:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .2s;
}

.information_blog img {
  width: 60px;
}

.inform__title {
  margin: 0;
  font-size: 0.9rem;
}

.inform__suptitle {
  /* text-transform: uppercase; */
}


/* Information about sunrise and sunset */
.sun__rise-set {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background: #3d4148;
  border-radius: 20px;
  color: aliceblue;
}

.sunrise, .sunset {
  /* text-transform: uppercase; */
}

.fa-icons {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.fa-clock {
  width: 60px;
  height: 60px;
}
